.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerGraphs {
  position:relative;
  top: 30px;
}

.borderItaly{
  position:absolute;
  top: -20px;
  left: -20px;
}

.plot {
  position:absolute;
  width: 300px;
  height: 500px;
  top: 10px;
  left: 10px;
}

.image{
  position:absolute;
  width: 400px;
  height: 300px;
  top: 300px;
  left: 400px;
}

.parallel{
  position: absolute;
  height: 300;
  width: 400;
  top: 10px;
  left: 300px;
}
