body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  position: relative;
}

.root {
  position: absolute;
  top: 180px;
  left: 50px;
}

.slider {
  position: absolute;
  top: 80px;
  left: 50px;
}

.radar {
  position: absolute;
  top: 150px;
  left: 800px;
}